body{
    background-image: url("/images/hatter.png");
}

#egesz{
    max-width:70%;
   
    
    margin: auto;
}

header{
    background-color: orange;
    padding: 4%;
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    
}

.navbar{
    margin-top: 30px;
    margin-bottom: 10px;
    
  
}



.nav-link{
    color: orange;
    font-style: italic ;

    
}

.bokor{
    width: 40%;
    ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;

}
    


ul{
    text-align: center;
    color: orange;
}

.alul{
    
    margin-bottom: 20px;
    background-color: rgb(238, 238, 238);
    padding: 20px;
    border-left:  1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209) ;
    border-bottom:  1px solid rgb(209, 209, 209);
   
}

.felul{
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
}

 
.navbar-expand-md{
    text-align: centered;
}

.asd {
    align-self: center !important;
}



.felul2{
    margin-top: 20px;
    background-color: orange;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    font-weight: 600;
    font-size: x-large;
}